* {
  box-sizing: border-box;
}

.user-link {
  color: #30BCE2;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

#dashboard-nav {
  position: fixed;
  z-index: 1;
  top: 170px;
  left: 30px;
  width: 300px;
  /* background: red; */
  text-align: center;
  font-size: 25px;
  font-weight: 200;
}

.dashboard-nav-ul {
  list-style-type: none;
  margin-left: 0px;
  /* background: #30BCE2; */
}

.dashboard-nav-ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  /* border-left: 3px solid #FCFC00; */
  /* background: #FCFC00; */
  margin-left: -40px;
  transition: background-size 0.30s ease-out;
}

.dashboard-nav-ul li a:hover {
  background-image: linear-gradient(90deg, #FCFC00 0%, #FFF 50%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.30s ease-in;
  background-size: 100% 100%;
  border-left: 0px;
  text-align: right;
}

.img-art {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  float: left;
  margin: 0px;
}

#article-feed {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.articles {
  float: left;
  background: #FFF;
  border: 1px solid #cac9ca;
	width: 600px;
	height: 70px;
	padding: 10px;
  text-align: center;
  margin: 5px;
}

.articles:hover {
  float: left;
  background: #fbe552;
  border: 0px solid #cac9ca;
	width: 600px;
	height: 70px;
	padding: 10px;
  text-align: center;
  margin: 5px;
}

.articles-feed-titles {
  font-size: 25px;
  font-weight: 200;
  text-decoration: none;
  color: #000;
}

.articles-feed-details {
  font-size: 12px;
}

/* .articles:hover {
	background: #fbe552;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border: 0px;
} */

.img-sub-container {
  padding-top: 30px;
}

.img-sub {
	width: 70px;
  height: 70px;
  border-radius: 50%;
	padding: 0px;
}

#sub-container {
  width: 100%;
}

#subscription-feed {
	display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.subscriptions {
  float: left;
  background: #FFF;
  border: 1px solid #cac9ca;
	width: 250px;
	height: 250px;
	padding: 10px;
  text-align: center;
  margin: 5px;
}

.subscriptions:hover {
	background: #fbe552;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border: 0px;
}





