body {
  font-family: -apple-system, Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
}

#app-logo {
  float: right;
  padding: 10px;
  padding-right: 40px;
  width: 45%;
  height: 47%;
}

.logo-text {
  font: -apple-system;
}

#bg {
	background-image: linear-gradient(0deg, #FFFFFF 0%, #FFE188 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 49%, 0 83%);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#container {
	width: 70%;
  padding-top: 20px;
  margin: 0 auto;
	text-align: center;
}

.alert {
  background-color: #ff4545;
  margin: 50px;
}

form {
  width: 30%;
  height: auto;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

h1 {
	color: #01c3e8;
	padding: 5px;
}

h2, h3, h6 {
  padding: 5px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  border-bottom:1px solid #444; 
  cursor: pointer;
}

/* .delete-div {
	padding-top: -2px;
	padding: 12px;
} */

.delete-button {
	display: inline-block;
  float: right;
  margin:	3px 3px 0 0;
  cursor: pointer;
}

.username {
  font-size: 25px;
  font-weight: 200;
  text-decoration: none;
  color: #000;
}

.username a:hover {
  color: #01c3e8;
}



