body {
  font-family: -apple-system, Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
}

#app-logo {
  float: right;
  padding: 10px;
  padding-right: 40px;
  width: 44%;
  height: 46%;
}

.logo-text {
  font: -apple-system;
}

#container {
	width: 70%;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  /* background: blue; */
}

.alert {
  background-color: #ff4545;
  margin: 50px;
}

form {
  width: 30%;
  height: auto;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

h1 {
	color: #ffdd00;
  padding: 5px;
  font-size: 34px;
  font-weight: 200;
}

h3, h6 {
  padding: 2px;
  margin: 0px;
  font-size: 25px;
}

h2 {
  position: absolute; 
  top: 580px; 
  left: 0; 
  width: 100%; 
}

h2 span { 
  display: block;
  color: #01c3e8; 
  /* font: bold 24px/45px Helvetica, Sans-Serif;  */
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: #FFF;
  padding: 10px; 
  margin: 0px;
  font-size: 34px;
  font-weight: 270;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  border-bottom:1px solid #444; 
  cursor: pointer;
}

/* .delete-div {
	padding-top: -2px;
	padding: 12px;
} */

.delete-button {
	display: inline-block;
  float: right;
  margin:	3px 3px 0 0;
  cursor: pointer;
}

.delete-button:hover {
	display: inline-block;
  float: right;
  margin:	3px 3px 0 0;
  cursor: pointer;
  color: #ff3333;
}

.username {
  font-size: 25px;
  font-weight: 200;
  text-decoration: none;
  color: #000;
}

.img-header {
  width: 600px;
  height: 480px;
  border-top: 22px solid #FCFC00;
  border-left: 22px solid #FCFC00;
  border-right: 22px solid #FCFC00;
  position: relative; 
}

.editor-read-article {
  width: 640px;
  background: #FFFFFF;
  text-align: left;
  /* border: 2px solid #000; */
  margin-top: 55px;
  margin-left: 130px;
  font-size: 18px;
  font-weight: 250;
}

.comment-article {
  border-top: 5px solid #FCFC00;
  width: 640px;
  margin-top: 40px;
  margin-left: 130px;
  margin-bottom: 40px;
  text-align: center;
}

.comment-article-editor {
  width: 350px;
  height: 200px;
  overflow: scroll;
  margin-top: 20px;
  margin-left: 146px;
  margin-bottom: 25px;
  text-align: left;
}

.comment-article-editor:hover {
  border: 1px solid #000;
  width: 350px;
  height: 200px;
  overflow: scroll;
  margin-top: 20px;
  margin-left: 146px;
  margin-bottom: 25px;
  text-align: left;
}

.article-read-comments {
  border: 1px solid #000;
  padding: 10px;
  margin: 5px;
  height: auto;
  text-align: left;
}
